body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Solway', 'Merriweather', serif;
}

main {
  flex: 1 0 auto;
}

.brand-logo{
  width: fit-content;
}

#quote {
  background-image: url("/static/img/quote_background.jpg");
  background-size: cover;
  padding-top: 17rem;
  text-align: center;
  height: 55rem;
}

#upload_image {
  padding: 50px;
}

#submit_recipe_header {
  padding-bottom: 50px;
}

.button_form_min_width {
  min-width: 162px;
  float: left;
}

.submit_image_spacing {
  padding-top: 50px!important;
  float: right!important;
}

.recipe_banner {
  /*background-image: url("https://i.imgur.com/PuHbs0g.jpg"); */
  background-size: cover;
  resize: both;
  min-height: 40rem;
}

.recipe_information_box {
  width: 100%
}
.recipe_image_information_container {
  position: relative;
}

#recipe_image{
  height: auto;
  width: 100%;
  position: relative;
}

.responsive_image{
  object-fit: cover;
  height: 20rem;
}


@media (min-width: 768px) {
  .recipe_information_box {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 40%; 
}
}

@media (min-width: 1000px) {
  .recipe_information_box {
  width: 30%; 
}
}


@media (min-width: 1200px) {
  .recipe_information_box {
  width: 20%;
}
}

@media (min-width: 2560px) {
  
}

@media (min-width: 3840px) {
  
}
