body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Solway', 'Merriweather', serif;
  background-color: #faebd7;
}

main {
  flex: 1 0 auto;
}

.search_bar_container{
  position: relative;
  padding: 0 15px 0 0;
  margin: 0;
  background-color: #fff;
}

.search_icon{
  position: absolute;
  bottom: 0px;
  right: 16px;
}


.brand-logo {
  width: fit-content;
}

#quote {
  background-image: url("https://i.imgur.com/PuHbs0g.jpg");
  background-size: cover;
  padding-top: 17rem;
  text-align: center;
  height: 55rem;
  text-shadow: 0.5px 0.5px #aaa6a6;
}

.quote_header {
  background-color: white;
  width: fit-content;
  padding: 13px;
  border-radius: 6px;
  margin-left: 15px;
  margin-right: 15px;
}


#submit_recipe_header {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 13px;
  padding: 28px;
}

.recipe_modify_container {
  background-color: white;
  padding: 25px;
  border-radius: 13px;
  margin-bottom: 40px;
}

.button_form_min_width {
  min-width: 162px;
  float: left;
}

.submit_image_spacing {
  padding-top: 50px!important;
  float: right!important;
}

.recipe_banner {
  background-size: cover;
  resize: both;
}

.recipe_information_box {
  width: 100%
}

.recipe_image_information_container {
  position: relative;
}

.recipe_information {
  background-color: white;
  margin: -2rem;
  padding: 2rem;
}

#recipe_image {
  height: auto;
  width: 100%;
  position: relative;
}

.responsive_image {
  object-fit: cover;
  height: 20rem;
}

#back_icon {
  padding: 10px;
  font-size: 3rem;
  border-radius: 100%;
  margin-top: 1rem;
  cursor: pointer;
}


.separation {
  min-height: 2rem;
  background-color: #faebd7;
}

.edit_button {
  float: right;
}

.card-content {
  max-height: 95px;
}

/* Text Decoration Classes */

.underline {
  text-decoration: underline;
}

.no_bottom_margin{
  margin-bottom: 0px;
}


@media (min-width: 768px) {
  .recipe_information_box {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 40%;
  }
  .quote_header {
    margin-left: auto;
    margin-right: auto;
  }
  #recipe_information_row {
    padding: 0 25px 0 25px;
  }
}

@media (min-width: 1000px) {
  .recipe_information_box {
    width: 30%;
  }
}


@media (min-width: 1200px) {
  .recipe_information_box {
    width: 20%;
  }
}

@media (min-width: 2560px) {}

@media (min-width: 3840px) {}
