<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GF Recipes!</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Solway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="/static/img/transparent_favicon.png"/>
</head>

<body>
    <header>
        <div class="row no_bottom_margin">
            <nav class="white">
                <div class="nav-wrapper">
                    <a href="{{url_for('home')}}" class="brand-logo center black-text" id="website_title">Celiac Haven</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="material-icons black-text">menu</i></a>

                    <div class="row">
                        <div class="col s12 m4 xl2 right search_bar_container" id="search_function">
                            <form action="{{url_for('search_recipes')}}" method="POST">
                                <div class="col s12">
                                    <input id="searchbar_input" name="searchbar_input" type="text" placeholder="Search" class="col s10" autocomplete="off">
                                    <i class="material-icons black-text search_icon" id="search_icon_click">search</i>
                                </div>
                                <input type="submit" value="placeholder" id="search_button">
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
            <ul class="sidenav" id="mobile-demo">
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('add_recipe')}}">Add A Recipe</a></li>
                {% for category in global_category %}
                <li><a href="{{url_for('get_recipes', recipe_category=category.title)}}">{{ category.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </header>
    <main>
        {% block content %} {% endblock %}
    </main>

    <footer class="page-footer white lighten-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="black-text">Created by Daniel Johnson Maia</h5>
                    <p class="black-text text-lighten-4">Using Flask & MongoDB</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="black-text">Social Media</h5>
                    <ul>
                        <li class="footer_icon_style"><a href="https://github.com/DanielJMaia/cookbook-project"><img class="footer_icons" src="/static/img/github_icon.png" alt="GitHub Logo"></a></li>
                        <li class="footer_icon_style"><a href="https://www.linkedin.com/in/daniel-johnson-maia-0479b2174/"><img class="footer_icons" src="/static/img/linedin_icon.png" alt="linedin logo"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="/static/js/initialization.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>

</body>

</html>
