{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col s12">
        <i class="material-icons" id="back_icon">arrow_back</i>
    </div>
</div>
<h3 class="center-align" id="submit_recipe_header">Edit {{recipe.title}}</h3>
<div class="container">
    <form action="{{url_for('update_recipe', recipe_id=recipe._id)}}" method="POST" class="col s12 m8" autocomplete="off">

        <div class="row">
            <div class="col s11 m4 submit_image_spacing">
                <div class="card">
                    <div class="card-image">
                        <img src="/static/img/upload.jpg" class="image" id="upload_image">
                    </div>
                    <div class="card-content input-field">
                        <input id="add_image" type="text" class="validate" name="url" value="{{recipe.url}}" placeholder="Image URL i.e. https://i.imgur.com/PuHbs0g.jpg" required>
                    </div>
                </div>
            </div>
            <div class="input-field col s11 m8">
                <input id="recipe_title" type="text" class="validate" name="title" value="{{recipe.title}}" required>
                <label for="recipe_title">Recipe Title</label>
            </div>
            <div class="input-field col s11 m8">
                <input id="recipe_description" type="text" class="validate" name="description" value="{{recipe.description}}" required>
                <label for="recipe_description">Description</label>
            </div>
            <div class="input-field col s11 m8">
                <select name="category" required>
                        <option selected disabled value>Select category</option>
                    {% for cat in second_category %}
                        {% if cat.category == recipe.category %}
                            <option value="{{ cat.category }}" selected>{{ cat.category }}</option>
                        {% else %}
                            <option value="{{ cat.category }}">{{ cat.category }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Choose A Category!</label>
            </div>
            <div class="input-field col s11 m8">
                <select name="difficulty" required>
                        <option selected disabled value>Select difficulty</option>
                    {% for diff in difficulty %}
                        {% if diff.difficulty == recipe.difficulty %}
                            <option value="{{ diff.difficulty }}" selected>{{ diff.difficulty }}</option>
                        {% else %}
                            <option value="{{ diff.difficulty }}" >{{ diff.difficulty }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Ease of Preparation</label>
            </div>
            <div class="input-field col s11 m8">
                <input id="ingredients" type="text" class="validate" name="ingredients" value="{{recipe.ingredients}}" required>
                <label for="ingredients">Ingredients</label>
            </div>
            <div class="input-field col s11 m8">
                <input id="duration" type="text" class="validate" name="prep_duration" value="{{recipe.prep_duration}}" required>
                <label for="duration">Duration</label>
            </div>
            <div class="input-field col s11 m8">
                <input id="method" type="text" class="validate" name="method" value="{{recipe.method}}" required></input>
                <label for="method">Method</label>
            </div>
            <div class="input-field col s11 m8">
                <input id="gf_ingredient" type="text" class="validate" name="gf_ingredient" value="{{recipe.gf_ingredient}}">
                <label for="gf_ingredient">Gluten Free Replacement Ingredients</label>
            </div>
            <div class="input-field col s11 m8">
                <input id="tips" type="text" class="validate" name="tips" value="{{recipe.tips}}">
                <label for="tips">Extra Tips</label>
            </div>
            <div class="col s12 center-align">
                <button class="btn waves-effect waves-light button_form_min_width" type="submit" name="action">Edit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col s2">
            <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn button_form_min_width red darken-2">Delete</a>
        </div>
    </div>
</div>
{% endblock %}
