{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col s12">
        <i class="material-icons" id="back_icon">arrow_back</i>
    </div>
</div>
<div class="container">
    <h3 class="center-align" id="submit_recipe_header">Edit {{recipe.title}}</h3>
</div>
<div class="container recipe_modify_container">
    <form action="{{url_for('update_recipe', recipe_id=recipe._id)}}" method="POST" class="col s12 m8" autocomplete="off">

        <div class="row">
            <div class="col s11 m5 submit_image_spacing">
                <div class="card">
                    <div class="card-image">
                        <img src="{{recipe.url}}" class="image" alt="Image not found">
                    </div>
                    <div class="card-content">
                        <input id="add_image" type="text" class="validate" name="url" value="{{recipe.url}}" placeholder="Image URL i.e. https://i.imgur.com/PuHbs0g.jpg" required>
                    </div>
                </div>
            </div>
            <div class="input-field col s11 m7">
                <input id="recipe_title" type="text" class="validate" name="title" value="{{recipe.title}}" required/>
                <label for="recipe_title">Recipe Title</label>
            </div>
            <div class="input-field col s11 m7">
                <input id="recipe_description" type="text" class="validate" name="description" value="{{recipe.description}}" required/>
                <label for="recipe_description">Description</label>
            </div>
            <div class="input-field col s11 m7">
                <select name="category" required>
                        <option selected disabled value>Select category</option>
                    {% for cat in local_category %}
                        {% if cat.title == recipe.category %}
                            <option value="{{ cat.title }}" selected>{{ cat.title }}</option>
                        {% else %}
                            <option value="{{ cat.title }}">{{ cat.title }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Choose A Category!</label>
            </div>
            <div class="input-field col s11 m7">
                <select name="difficulty" required>
                        <option selected disabled value>Select difficulty</option>
                    {% for diff in difficulty %}
                        {% if diff.difficulty == recipe.difficulty %}
                            <option value="{{ diff.difficulty }}" selected>{{ diff.difficulty }}</option>
                        {% else %}
                            <option value="{{ diff.difficulty }}" >{{ diff.difficulty }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Ease of Preparation</label>
            </div>
            <div class="input-field col s11 m7">
                <textarea id="ingredients" class="materialize-textarea" name="ingredients" required>
                    {%- for ingredient in recipe.ingredients -%}
                    {{ ingredient }}
                    {%- endfor -%}
                </textarea>
                <label for="ingredients">Ingredients</label>
            </div>
            <div class="input-field col s11 m7">
                <input id="duration" type="text" class="validate" name="prep_duration" value="{{recipe.prep_duration}}" required/>
                <label for="duration">Duration</label>
            </div>
            <div class="input-field col s11 m7">
                <textarea id="method" class="materialize-textarea" name="method" required>
                    {%- for step in recipe.method -%}
                    {{ step }}
                    {%- endfor -%}
                </textarea>
                <label for="method">Method</label>
            </div>
            <div class="input-field col s11 m7">
                <input id="gf_ingredient" type="text" class="validate" name="gf_ingredient" value="{{recipe.gf_ingredient}}" />
                <label for="gf_ingredient">Gluten Free Replacement Ingredients</label>
            </div>
            <div class="input-field col s11 m7">
                <input id="tips" type="text" class="validate" name="tips" value="{{recipe.tips}}" />
                <label for="tips">Extra Tips</label>
            </div>
            <div class="col s12 center-align">
                <button class="btn waves-effect waves-light button_form_min_width" type="submit" name="action">Edit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col s2">
                <a class="waves-effect waves-light btn button_form_min_width red darken-2" id="delete_button">Delete</a>
                <!-- <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn button_form_min_width red darken-2" id="delete_button">Delete</a> -->
            </div>
        </div>
    </form>
    <form action="{{url_for('delete_recipe', recipe_id=recipe._id)}}" id="delete_form_trigger">
    </form>
</div>
{% endblock %}

<!--
onclick="return confirm('Are you sure you want to delete this? It CANNOT be undone!!!')"
-->
