{% extends 'base.html' %} {% block content %}

<div class="col 12" id="quote">
    <h3>Delicious Food With No Compromise</h3>
</div>

<div class="container">
    <div class="row">

        {% for category in categories %}

        <div class="col s6">
            <div class="card">
                <div class="card-image">
                    <img src="static/img/smoothie_category.jpg">
                    <span class="card-title"></span>
                </div>
                <div class="card-content">
                    <h5>{{ category.category }}</h5>
                </div>
              
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
