{% extends 'base.html' %} {% block content %}

<div class="col 12" id="quote">
    <h3 class="quote_header">Delicious Food With No Compromise</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col s12">
            <h4 class="center">Categories</h4>
        </div>
    </div>
    <div class="row">
        {% for category in second_category %}
        <div class="col s12 m6">
            <a class="black-text" href="{{url_for('get_recipes', recipe_category=category.category)}}">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive_image" src="{{ category.url }}" alt="Image Representing Category">
                        <span class="card-title black-text"></span>
                    </div>
                    <div class="card-content">
                        <h5>{{ category.category }}</h5>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
