{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col s12">
        <i class="material-icons" id="back_icon">arrow_back</i>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for recipe in recipes %}
        <div class="col s12 m6">
            <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}">
                <div class="card">
                    <div class="card-image">
                        <img class="responsive_image" src="{{ recipe.url }}">
                    </div>
                    <div class="card-content black-text">
                        <h5>{{ recipe.title }}</h5>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col s10 black-text">
                                <p>{{ recipe.description }}</p>
                            </div>
                            <div class="col s2">
                                <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn edit_button">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
